---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, LASTFM_URL } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`About — ${SITE_TITLE}`} description="About me ;p" />
	</head>
	<body>
		<Header />
		<main>
			<div class="about-content">
				<h1>Blah blah blah</h1>
				<p>
					Quería transformar las incontables horas que paso escuchando música en algún tipo de catarsis donde centrar
					lo que estoy escuchando / disfrutando día a día :)
				</p>
				<p>
				Sin reglas, sin presiones, solo escribir y dejar registro de lo que me movió en su día y lo que me mueve actualmente.
				</p>
				<p>
					¿Qué estoy escuchando ahora mismo? revisa mi
					<a href={LASTFM_URL} target="_blank">Last.fm</a>.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	.about-content {
		max-width: var(--max-width);
		margin: 0 auto;
		padding-top: 2em;
	}
	h1 {
		margin-bottom: 1.5em;
	}
	p {
		color: var(--text-muted);
		font-size: 1.05em;
	}
	a {
		color: var(--accent);
	}
</style>
